@use '../abstract/variables' as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var.$color-purple-700;
  color: var.$color-white;
}

h3 {
  font-size: 2.4rem;
  font-family: var.$default-mono-400;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;
}
