// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-purple-200: hsla(278, 94%, 60%, 1);
$color-purple-400: hsla(278, 94%, 40%, 1);
$color-purple-700: hsla(278, 94%, 20%, 1);

// Fonts
$default-mono-400: 'JetBrains Mono', Arial, Helvetica, sans-serf;
